@page
@model BebraMusic.UI.Pages.Albums.Index
<div class="text-center">
    <h1>Каталог Альбомов</h1>
</div>
<div class="p-4">
    <form method="get">
        <input type="text" asp-for="SearchString"/>
        <button type="submit" class="btn btn-primary">Поиск</button>
    
        <a class="btn btn-primary" asp-page="/Albums/Create">Добавить</a></form>
</div>
<div class="mx-4">
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-dark">
        <tr class="table-responsive">
            <th>Id</th>
            <th>Альбомы</th>
            <th>Исполнитель</th>
            <th>Жанр</th>
            <th>Год релиза</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var album in Model.Albums)
        {
            <tr class="table-responsive text-start">
                <td>@album.Id</td>
                <td>@album.Title</td>
                <td>@album.Author.Name</td>
                <td>@album.Genre.Name</td>
                <td>@album.Year</td>
                
            </tr>
        }
        </tbody>
    </table>
</div>
