@page
@model BebraMusic.UI.Pages.Songs.Index
<div class="text-center">
    <h1>Каталог Музыки</h1>
</div>
<div class="p-4">
    <form method="get">
        <input type="text" asp-for="SearchString"/>
        <button type="submit" class="btn btn-primary">Поиск</button>
    
        <a class="btn btn-primary" asp-page="/Songs/Create">Добавить</a></form>
</div>
<div class="mx-4">
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-dark">
        <tr class="table-responsive">
            <th>Id</th>
            <th>Наименование</th>
            <th>Исполнитель</th>
            <th>Продолжительность</th>
            <th>Жанр</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var song in Model.Songs!)
        {
            <tr class="table-responsive text-start">
                <td>@song.Id</td>
                <td>@song.Title</td>
                <td>@(song.Author != null ? song.Author.Name : "Unknown Author")</td>
                <td>@song.Duration?.ToString("hh\\:mm\\:ss")</td>
                <td>@(song.Genre != null ? song.Genre.Name : "Unknown Genre")</td>
            </tr>
        }
        </tbody>
    </table>
</div>
